[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "pallavirawat.github.io"]
	path = pallavirawat.github.io
	url = https://github.com/pallavirawat/pallavirawat.github.io.git
	branch = master
